.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    background-color: rgba(244, 218, 244, 0.788);
    border-radius: 5px;
    border: 2px solid rgba(51, 19, 51, 0.788);
}

.link:hover, .link:focus {
    scale: 1.02;
}